
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
}
h1 {
    color: #4CAF50;
}
section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #2196F3;
}

nav{
    text-align: center;
    margin: 30px;
    padding: 20px;
}